/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

table, th, td {
    border: 2px solid rgb(16, 221, 26);
    border-width: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

button {
    min-width: 60px;
    height: 60px;
    border: none;
    outline: none;
    background: #80e93a;
    color: #fff;
    font-size: 14px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(116, 233, 39, 0.274);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 6px;
}

.check-box {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg {
    width: 40px;
    margin: 20px;
}

svg path {
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active {
    background: #ff2b75;
    transition: 1s;
}

.active .check-box {
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p {
    margin-right: 125px;
    transition: 1s;
}

.active svg path {
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}

.row {
    margin: 10px;
}